nav ul {
  /* background-color: black; */
  padding: 10px;
}

nav ul li {
  display: inline;
  color: white;
  font-family: sans-serif, arial;
  font-size: 20px;
}

nav ul li a {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav a:hover {
  background-color: #c69de9;
  color: black;
}

h2 a {
  text-decoration: none
}

.social-icons {
  display: inline-block;
  float: right
}

h1 {
  text-align: center;
  margin: 40px;
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:white;
  font-size: 70px;
}

h2, h3 {
  font-family: sans-serif, arial;
  color: white;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


.project {
  text-align: center;
  font-family: sans-serif, arial;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  /* text-align: center; */
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}


body {
  background-color: #c3cdcc;
}

.para {
  background-color: white;
  padding: 2%;
  margin: 2%;
  font-size: 20px;
  font-family: sans-serif;
  /* border-style: outset; */
  color: black;
  line-height: 1.5;
  /* font-weight: bold; */
  float: right;
  width: 45%
}
.txt-rotate {
  font-family: 'Courier New', Courier, monospace;
  color: #268b45
}

.projectpara {
  /* background-color: white; */
  padding:5px;
  margin: 30px;
  font-size: 20px;
  font-family: sans-serif, arial;
  /* border-style: outset; */
  color: black;
  font-weight: bold;
  line-height: 2.0;
  margin-left: 150px;
  margin-right: 150px;
}

.BW {
  /* background-color: black; */
  color: #d642e8;
  font-style: normal;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  padding: 5px;

}

.sem {
  color:blueviolet;
}

.homeimg {
  display: block;
  margin-left: 4%;
  margin-right: 2%;
  margin-bottom: 5%;
  float: left;
  width: 40%;
  /* border-radius:50% */
}

.projectimg {
  margin-left: 2%;
  margin-right: 2%;
  width: 45%
}

.projectimgcenter {
  margin-left: 30%;
  margin-right: 40%;
}

.source
{
  text-align: center;
}
